.interet {
    display: flex;
    flex-flow: row wrap;
}


.texte {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #171617;
    flex-grow: 1;
    color: white;
    width: 321px;
    height: 320px;
    
}

.image {
    display: flex;
    justify-content: center;
    background-color: #171617;
    flex-grow: 1;
    width: 321px;
    height: 320px;
    overflow: hidden;
}

.image > img {
    filter: grayscale(1);
}


