@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great");

canvas {
  display: block;
  vertical-align: bottom;
}


@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.c-background__content {
  margin: 0 auto;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -weAbkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.c-background__title {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 55px auto;
}

.c-background__subtitle {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 420px auto;
}

.c-background__img {
  position: absolute;
  left: 0;
  right: 0;
  width: 250px;
  text-align: center;
  margin: 155px auto;
}

.souris {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  margin: 620px auto;
}

@media (max-width: 600px) {

  .c-background__subtitle {
    margin: 380px auto;
  }

  .souris {
    margin: 560px auto;
  }

  .canva {

  }


}