
 body {
	 margin: 0px;
}
 main {
	 min-width: 300px;
	 max-width: 500px;
	 margin: auto;

}
 .time {
	 font-size: 1em;
	 line-height: 1.75em;
	 border-top: 3px solid;
	 border-image: linear-gradient(to right, #444343 0%, #fafafa 100%);
	 border-image-slice: 1;
	 border-width: 3px;
	 margin: 0;
	 padding: 40px;
	 counter-increment: section;
	 position: relative;
	 color: #fafafa;
	 margin-right: 40px;
}
 .time:before {
	 content: counter(section);
	 position: absolute;
	 border-radius: 50%;
	 padding: 10px;
	 height: 1.25em;
	 width: 1.25em;
	 background-color: #565656;
	 text-align: center;
	 line-height: 1.25em;
	 color: #fff;
	 font-size: 1em;
	
}
 .time:nth-child(odd) {
	 border-right: 3px solid;
	
}
 .time:nth-child(odd):before {
	 left: 100%;
	 margin-left: -20px;
}
 .time:nth-child(even) {
	 border-left: 3px solid;
	 padding-right: 0;
}
 .time:nth-child(even):before {
	 right: 100%;
	 margin-right: -20px;
}
 .time:first-child {
	 border-top: 0;
	 border-top-right-radius: 0;
	 border-top-left-radius: 0;
}
 .time:last-child {
	 border-bottom-right-radius: 0;
	 border-bottom-left-radius: 0;
}
 

@media (max-width: 600px) {

	.time{
		padding: 30px;
	}

	.time:nth-child(even) {
		border-left: 5px solid;
	}
	.time:nth-child(odd) {
		border-right: 5px solid;
   }
  main{
	  margin: 30px 0 30px 30px;
  }
  

}