@import "CSS/quote.css";
@import "CSS/timeline.css";
@import "CSS/burger.css";
@import "CSS/imagehover.css";
@import "CSS/animation.css";
@import "CSS/interet.css";

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

/*-----*/

header {
    text-align: center;
    min-height: 700px;
    background-color: #171617;
    color: #fafafa;
    /*-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 93%, 0 0);
    clip-path: polygon(50% 0%, 100% 0, 100% 92%, 50% 100%, 0 93%, 0 0);*/
}

header img {
    width: 20%;
    padding-left: 55px;
    padding-top: 40px;
}

body {
    background-color: #fafafa;
    text-align: center;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 5em;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    position: absolute;
}

.italic {
    font-style: italic;
}

h3, h4, h5, p {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: 'Anton', sans-serif;
    padding-bottom: 30px;
}

.underline {
    text-decoration: underline;
}

.letterspace {
    letter-spacing: 8px;
}

header h5 {
     padding-top: 25px;
}

/*-- Content --*/

.carte {
    padding: 0.5em;
    color: #fafafa;
    margin: 2em;
    border-radius: 0.2em;
    background-color: #171617;
}

.card-section {
    display: flex;
    flex-direction: row; 
}

.portimg {
    max-width: 400px;
}

.timer {
    padding-bottom: 2.6em;
}

.space{
    display: block;
    height: 4em;
}

.white {
    color: #fafafa;
}

.timeline {
    background-color: #171617;
    /*clip-path: polygon(50% 6%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 0% 70%, 0% 35%, 0 0);*/


}

.timeline h2{
    margin-top: 50px;
}
.propos{
    display: flex;
    flex-direction: column;
    margin: 0px 350px 170px 350px ;
}

.aboutme {
    display: flex;
    flex-direction: row;
}

.contactme {
    background-color: #171617;
    color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.contactme a {
    text-decoration: none;
    color: #fafafa;
}

.icone_rs{
    font-size: 2em;
    -webkit-transition: 0.5s;
}

/* Animation RS*/
.icors {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    animation-duration: .5s;
  
    transition: all 0.5s linear;
}
.icors:hover {
	-webkit-transform: scale(1.3);
    transform: scale(1.3);
    animation-duration: .5s;
    transition: all 0.5s linear;
	-webkit-transition: .3s ease-in-out;

   
}


.copy {
    background-color: #171617;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

/*---------- Soft Skills ---------*/
.techs-list {
    padding: 20px 0 20px 0;
    text-align: center;
}

.techs-list li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    padding: 0 1em;
    margin: 5px;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    color:#fafafa;
    background:#171617;  
    text-align: center;   
}
/*--- Fin softskills ---*/

/*--- Skills ---*/

.liste_comp {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo_skills {
    display: flex;
    font-size: 4em;
    color: #fafafa;
    padding: 20px 30px 100px 30px
    
}

.hugo {
    max-width: 55px;
}

.comp {
    background-color: #171617;
}

.compgéné {
    display: flex;
    flex-direction: row;
}

/* Responsive */

@media (max-width: 600px) {
    .card-section {
        display: flex;
        flex-direction: column;
    }

    .carte{
        padding: 0.2em;
        margin: 0.8em;
        background-color: #171617;
    }

    h1{
        font-size: 3em;
    }
    header img {
        width: 60% !important;
        padding-left: 55px;
    }
    
    .slide {
    width: 90%;
    }

    .portimg {
    max-width: 240px;
    }

    .propos{
        display: flex;
        flex-direction: column;
        margin: 0 40px 100px 40px ;
    }

    .blockquote {
        margin-top: 0;
    }

    .content {
        min-height: 50vh;
    }
    .contactme {
        font-size: 0.8em;
    }
    .contactme p {
        margin: 0 20px 0 20px;
    }

    header {
        min-height: 680px;
    }
}

@media (max-width: 1000px) {
    .propos{
        display: flex;
        flex-direction: column;
        margin: 0 40px 100px 40px ;
    }

}


 