<nav role="navigation">
    <div id="menuToggle">
  
      <input type="checkbox" />
      
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="#"><li>Home</li></a> 
        <a href="#apropos"><li>À Propos</li></a> 
        <a href="#timeline"><li>Mon Parcours</li></a>
        <a href="#Compétence"><li>Compétences</li></a>
        <a href="#projets"><li>Mes Projets</li></a>
        <a href="#contact_lien"><li>Contact</li></a>
      </ul>
    </div>
</nav>