<footer>
        
    <section class="contactme">

        <div id="contact"></div>
            <h2 class="letterspace underline">Contact</h2>
            <br>
            <p>Vous pouvez me contacter à l'adresse suivante ou utiliser la bulle de contact
    <br>
            <a href="mailto:maxlefort35@gmail.com" rel="noopener"><strong>maxlefort35@gmail.com</strong></a></p>
    <br>
    <div class="icone_rs">
        <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/maxime-lefort-a07a56197/"><i class="fab fa-linkedin icors"></i></a>
        <a target="_blank" rel="noopener" href="https://www.Twitter.com"><i class="fab fa-twitter-square icors"></i></a>
        <a target="_blank" rel="noopener" href="https://gitlab.com/maxlefort35"><i class="fab fa-gitlab icors"></i></a>
    <br>
    </div>
    </section>
    <p class="copy">&copy; 2020 Maxime Lefort</p>
 </footer>   
