<h2 class="black letterspace underline" >Mes centres d'interet</h2>
<br>
<div class="interet">
    <div class="texte"> <p>Cinéma</p></div>
    <div class="image"><img src="image/forest_gump.jpg" alt=""></div>
    <div class="texte"><p>Sport</p></div>
    <div class="image"><img src="image/ol2.png" alt=""></div>
    <div class="image"><img src="image/witcher.jpg" alt=""></div>
    <div class="texte"><p>Jeux vidéo</p></div>
    <div class="image"><img src="image/lovecraft.jpg" alt=""></div>
    <div class="texte"> <p>Lecture</p></div>
</div>
