<h2 class="letterspace underline">Mes projets</h2>
<section class="card-section">
    <div class="carte">
        <figure class="imghvr-fade">
            <img loading="lazy" src="image/ltf.png" style="width:100%" alt="Page d'accueil du site de La Terre Ferme">
             <figcaption>
                 <h3>E-commerce La Terre Ferme</h3><br>
                 <p> WORDPRESS | CSS3 | PHP |THEME PERSO</p>
             </figcaption>
             <a href="https://laterreferme.net/" target="blank" rel="noopener"></a>
        </figure>   
    </div>

   
        <div class="carte">
            <figure class="imghvr-fade">
                <img loading="lazy" src="image/logo-imts.png" style="width:100%" alt="Page d'accueil du projet de site pour l'IMTS">
                 <figcaption>
                     <h3 >Site IMTS</h3><br>
                     <p> WORDPRESS</p>
                 </figcaption>
                 <a href="https://quit-flashlight.000webhostapp.com/" target="blank" rel="noopener" ></a>
            </figure>   
    </div>

</section>

<section class="card-section">
    <div class="carte">
        <figure class="imghvr-fade">
            <img loading="lazy" src="image/alunissons.png" style="width:100%" alt="Page d'accueil du site d'Alunissons">
             <figcaption>
                 <h3>Alunissons</h3><br>
                 <p> WORDPRESS</p>
             </figcaption>
             <a href="https://choeuralunissons.fr/" target="blank" rel="noopener"></a>
        </figure>   
    </div>

        <div class="carte">
            <figure loading="lazy" class="imghvr-fade">
                <img src="image/portfolio.png" style="width:100%" alt="Page d'accueil de mon premier portfolio">
                 <figcaption>
                     <h3>1er Portfolio</h3><br>
                     <p> HTML5 | CSS3 | JAVASCRIPT |GIT</p>
                 </figcaption>
                 <a href="https://maxlefort35.gitlab.io/portfolio-bootstrap/" target="blank" rel="noopener"></a>
            </figure>   
    </div>

</section>