
<div class="comp">
    <div class="space"></div>
    <h2 class="underline white letterspace">Compétences</h2>
    <div class="liste_comp">
        <div class="logo_skills"><i class="fab fa-html5"></i></div>
        <div class="logo_skills"><i class="fab fa-css3-alt"></i></div>
        <div class="logo_skills"><i class="fab fa-js"></i></div>
        <div class="logo_skills"><i class="fab fa-php"></i></div>
        <div class="logo_skills"><i class="fab fa-git-alt"></i></div>
        <div class="logo_skills"><i class="fab fa-figma"></i></div>
        <div class="logo_skills"><img class="hugo" src="image/skills/hugo.png" alt=""></div>
        <div class="logo_skills"><i class="fab fa-wordpress"></i></div>
    </div>
</div>