<h2 class="underline black letterspace" >Softskills</h2>
<ul class="techs-list">
    <li>A l'écoute</li>
    <li>Autonome</li>
    <li>Dynamique</li>
    <li>Intuitif</li>
    <li>Passionné</li>
    <li>Patient</li>
    <li>Rigoureux</li> 
    <li>Travail d'équipe</li>
</ul>  
