<section class="timeline">
    <span class="space"></span>
    <h2 class="white letterspace underline">Mon parcours</h2>   
    <main>
        <p class="time">BEP / BAC PRO <br> VAM</p>
        <p class="time">Vendeur<br> Ultima / Thirode</p>
        <p class="time">Barman <br> AVISO (bar à bière)</p>
        <p class="time">Régisseur en ZUS <br> Emeraude Habitation</p>
        <p class="time">Formation Développeur web <br> Web Mobile</p>
    </main>
    <span class="space"></span>
</section>
    
